<style>
    .body{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<div class="body">
    <form action="/admin">
        <input type="password" placeholder="enter your password">
    </form>
</div>