<style>
    h1{
        font-size: 100pt;
        text-align: center;
    }
    div{
    display: flex;
        flex-direction: row;
        justify-content: center;
    }
    a{
        text-align: center;
    }
    .but{
        margin-top: 30px;
        padding: 20px 100px;
        background-color: yellow;
        border-radius: 20px;
    }
</style>
<h1>EMAIL OR PASSWORD ERROR</h1>
<div>
    <img width="500px" src="https://cdn-icons-png.flaticon.com/128/159/159469.png" alt="">
</div>
<div>
    <a class="but" href="/login">RETURN</a>
</div>

