<script>

</script>
<style>
    body{
        display: flex;
        flex-direction: row;
        height: 100vh;
    }
    .menu{
        display: flex;
        flex: 1;
        background-color: #093545;
        flex-direction: column;
        gap: 20px;
        padding: 5px;
    }
    .menu img{
        display: inline;
    }
    .menu h1{
        color: white;
        font-size: 40pt;
    }
    .body{
        display: flex;
        flex: 3;
        background-color: #0c4458;
        justify-content: center;
        align-items: center;
    }
    .link{
        font-size: 30pt;
        color: white;
        text-decoration: none;font-family: 'Inconsolata', monospace;
        margin-left: 50px;
    }
    .img{
        margin-left: 20px;
        margin-right: 30px;
    }
    .border{
        border-left: black 7px solid;
        border-bottom: none;
        border-right: none;
        border-top: none;
    }
    .userdate{
        width: 324px;
        height: 483px;
        background-color: #093545;
        border-radius: 30px;
        -webkit-box-shadow: 26px 31px 8px 0px rgba(6, 25, 39, 0.2);
        -moz-box-shadow: 26px 31px 8px 0px rgba(6, 25, 39, 0.2);
        box-shadow: 26px 31px 8px 0px rgba(6, 25, 39, 0.2);
        border: #1a363f 3px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .userdate img{
      margin-top: 20px;
    }
</style>
<body>
<div class="menu">
    <h1 style="text-align: center"><img src="https://cdn-icons-png.flaticon.com/128/2232/2232688.png" alt=""> UZ-BOOK</h1>
    <a class="link" href="/"> <img class="img" width="70px" src="https://cdn-icons.flaticon.com/png/128/2549/premium/2549900.png?token=exp=1654171140~hmac=dbd0a3b2534e0ee3a457b6507f6ce423" alt=""> HOME</a>
    <a class="link" href="/book"> <img class="img" width="70px" src="https://cdn-icons.flaticon.com/png/128/3330/premium/3330300.png?token=exp=1654171189~hmac=9febc9e8690f11d564243aa4d6827e35" alt=""> BOOKS</a>
    <a class="link" href="/about"> <img class="img" width="70px" src="https://cdn-icons.flaticon.com/png/128/3356/premium/3356068.png?token=exp=1654171223~hmac=5ee1d5ca1f6c0e4a2a560fd3edb238f4" alt=""> ABOUT</a>
    <a class="link border" href="/profile"> <img width="70px" class="img" src="https://cdn-icons.flaticon.com/png/128/1144/premium/1144760.png?token=exp=1654442718~hmac=7465a53c8a976b71368f520a02d18b33" alt=""> PROFILE</a>
    <a class="link" href="/logout"> <img class="img" width="70px" src="https://cdn-icons-png.flaticon.com/128/1286/1286853.png" alt=""> LOG OUT</a>
</div>
<div class="body">
    <div class="userdate">
        <img src="https://cdn-icons-png.flaticon.com/128/3135/3135715.png" alt="">
        <h1></h1>
    </div>
</div>
</body>